.my-modal
{
	position:fixed;
	top:0;
	bottom: 0;
	right: 0;
	left: 0;
	display: none;
	animation: fadeIn ease-in 0.4s;
	z-index: 2;

}
.my-modal-overlay
{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: var(--background-my-modal);
}
.my-modal-container
{
	--scale-from :0.4;
	--scale-to :1;
	width: 800px;
	height: 800px;
	background-color: var(--white);
	margin: auto;
    padding-top: 40px;
	position: relative;
	border-radius: 5%;
	box-shadow: 2px 5px var(--gray);
	animation: scale linear 0.4s;
}

.my-modal-footer
{
	text-align: center;
}
.span
{
	color: var(--dark);
	display:inline-block;
	margin: 5px;
	padding: 10px;
    cursor: grab;
}
.span:hover
{
	background-color: var(--bluesky);
	border-radius: 25px;
    text-decoration: none;
}
.my-menuBar
{
	position:fixed;
	top:0;
	bottom: 0;
	right: 0;
	left: 0;
	animation: fadeIn ease-in 0.4s;
	display: none;
	z-index: 1;
}
.my-menuBar-overlay
{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: var(--background-my-modal);
}
.my-menuBar-container
{
	width: 300px;
	height: 100%;
	background-color: var(--white);
	margin: left;
	position: relative;
	border-right:1px solid var(--dark);
	box-shadow: 4px 1px var(--gray);
	animation: 
	mymoveIn ease-in 0.3s alternate
	;
	padding: 20px 20px 20px 0px ;
}
.my-menuBar-container .navbar-item
{
	border: 1px solid var(--light);
	width: 100%;
	border-top-right-radius: 25px;
	border-bottom-right-radius:  25px;
	padding: 10px;
	margin: 10px;
}
.my-menuBar-container .navbar-item:hover
{
	background-color: var(--bluesky);
}

.Menu-list{
    list-style-type: none;
    align-items: center;
    padding: 0;
    margin: 0;
}
hr
{
	width: 100%;
}
.Facebook , .Google
{
	display: inline-block;
    margin: 10px;
    padding: 10px;
    background-color: var(--bluesky);
    border-radius: 25px;
    font-size: 15px;
}